@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(250,250,250);
}

h1 {
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 700;

  margin-bottom: 64px;
}

h1::before {
  content: "< ";
}

h1::after {
  content: " />";
}

h1::before, h1::after {
  font-size: 24px;
  font-weight: 400;
  filter: opacity(0.2);
}